<section class="py-12 bg-white border-t mt-4 sm:border-t-0 border-gray-300">
  <div class="container mx-auto px-4 ">
    <!-- Heading -->
    <h2
      class="text-center text-[#595858] font-bahnschrift text-sm font-semibold uppercase tracking-widest mb-12"
    >
      Shop By Collection
    </h2>

    <!-- Categories Grid -->
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10 justify-items-center"
    >
      <!-- Category Card 1 -->
      <div
        class="relative group w-[260px] sm:w-[220px] md:w-[260px] lg:w-[300px] overflow-hidden"
      >
        <img
          src="https://ewppyeqhqylgauppwvjd.supabase.co/storage/v1/object/public/3gContent/desinaar/collageImages/Picture1.jpg"
          alt="Sherwani"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
        <div
          class="absolute inset-0 flex items-center justify-center  bg-opacity-20 group-hover:bg-opacity-30 transition"
        >
          <span
            class="text-white text-lg sm:text-base font-bold tracking-widest text-center"
            >Collection 1</span
          >
        </div>
      </div>

      <!-- Category Card 2 -->
      <div
        class="relative group w-[260px] sm:w-[220px] md:w-[260px] lg:w-[300px] overflow-hidden"
      >
        <img
          src="https://ewppyeqhqylgauppwvjd.supabase.co/storage/v1/object/public/3gContent/desinaar/collageImages/Picture2.jpg"
          alt="Bandhgala"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
        <div
          class="absolute inset-0 flex items-center justify-center  bg-opacity-20 group-hover:bg-opacity-30 transition"
        >
          <span
            class="text-white text-lg sm:text-base font-bold tracking-widest text-center"
            >Collection 2</span
          >
        </div>
      </div>

      <!-- Category Card 3 -->
      <div
        class="relative group w-[260px] sm:w-[220px] md:w-[260px] lg:w-[300px] overflow-hidden"
      >
        <img
          src="https://ewppyeqhqylgauppwvjd.supabase.co/storage/v1/object/public/3gContent/desinaar/collageImages/Picture3.jpg"
          alt="Jawahar Jackets"
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
        <div
          class="absolute inset-0 flex items-center justify-center  bg-opacity-20 group-hover:bg-opacity-30 transition"
        >
          <span
            class="text-white text-lg sm:text-base font-bold tracking-widest text-center"
            >Collection 3</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
