<div class="max-w-7xl mx-auto px-4 py-8 grid grid-cols-1 lg:grid-cols-2 gap-10">
  <!-- Left: Product Image and Thumbnails -->
  <div>
    <img
      [src]="mainImage"
      alt="Main product"
      class="w-full object-cover border"
    />

    <div class="mt-4 flex space-x-2">
      <img
        *ngFor="let img of product.images"
        [src]="img"
        alt="Thumbnail"
        class="w-20 h-28 object-cover border cursor-pointer hover:border-black"
      />
    </div>
  </div>

  <!-- Right: Product Info -->
  <div class="space-y-6">
    <div>
      <h2 class="text-2xl font-semibold">{{ product.title }}</h2>
      <p class="text-lg text-gray-600 font-medium">
        Rs. {{ product.price | number : "1.0-2" }}
      </p>
    </div>

    <div class="text-sm text-gray-600">
      <p><strong>SKU:</strong> {{ product.sku }}</p>
    </div>

    <div>
      <label class="block font-medium mb-1">Size:</label>
      <div class="flex space-x-2">
        <button
          *ngFor="let size of product.sizes"
          class="px-3 py-1 border hover:bg-gray-100"
        >
          {{ size }}
        </button>
      </div>
    </div>

    <div>
      <label class="block font-medium mb-1">Color:</label>
      <div class="flex space-x-2">
        <button
          *ngFor="let color of product.colors"
          class="px-3 py-1 border hover:bg-gray-100"
        >
          {{ color }}
        </button>
      </div>
    </div>

    <div class="flex flex-col space-y-3">
      <button class="bg-black text-white px-6 py-2">Add to Cart</button>
      <button class="border px-6 py-2 hover:bg-gray-100">Buy It Now</button>
    </div>

    <!-- Icon Section -->
    <div
      class="flex justify-between items-center pb-3 border-b border-gray-300 text-sm text-gray-700 text-center"
    >
      <!-- Fitting Guide -->
      <div class="flex flex-col  items-center flex-1">
        <svg
          class="svg-icon icon-shirt"
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="24"
          viewBox="0 0 25 24"
        >
          <title>Shirt Icon</title>

          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3.622 3.512L1.94 8.66 5.25 9.818V7.5a.75.75 0 1 1 1.5 0v13.75h12.367V7.5a.75.75 0 0 1 1.5 0v2.322l3.368-1.163-1.736-5.145a18.37 18.37 0 0 0-1.747-.82c-1.063-.43-2.368-.838-3.618-.926-.141.28-.357.65-.664 1.022-.637.772-1.698 1.585-3.287 1.585-1.588 0-2.65-.813-3.286-1.585a5.474 5.474 0 0 1-.664-1.022c-1.25.088-2.556.497-3.618.927a18.377 18.377 0 0 0-1.743.817zM22.867 3l.38-.646.24.141 2.395 7.096-5.265 1.818V22.75H5.25V11.407L.06 9.59l2.315-7.093.245-.143L3 3l-.38-.646.001-.001.003-.002.01-.006.033-.019.122-.068a19.876 19.876 0 0 1 2.012-.953C6.07.79 7.792.25 9.468.25h.542l.169.511.004.012.023.06a3.977 3.977 0 0 0 .598 1.001c.447.542 1.12 1.041 2.13 1.041 1.011 0 1.684-.499 2.13-1.04a3.972 3.972 0 0 0 .622-1.062l.004-.01.169-.513h.542c1.676 0 3.398.541 4.665 1.055a19.88 19.88 0 0 1 2.012.953l.123.068.033.02.01.005.002.002h.002l-.38.647z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="pt-2">Fitting guide</span>
      </div>

      <!-- Vertical Divider -->
      <div class="w-px h-10 bg-gray-300"></div>

      <!-- Email -->
      <div class="flex flex-col  items-center flex-1">
        <svg
          class="svg-icon icon-mail"
          xmlns="http://www.w3.org/2000/svg"
          width="27"
          height="20"
          fill="none"
          viewBox="0 0 27 22"
        >
          <title>Mail Icon</title>

          <path
            fill="currentColor"
            fill-rule="evenodd"
            transform="translate(0 1)"
            d="M1.458 1.5h24.084v17H1.458v-17zM0 0H27v20H0V0zm3.461 4.608l9.72 7.222.427.317.427-.317 9.72-7.222-.854-1.216-9.293 6.905-9.293-6.905-.854 1.216z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span  class="pt-2">Email us about this product</span>
      </div>

      <!-- Vertical Divider -->
      <div class="w-px h-10 bg-gray-300"></div>

      <!-- Share -->
      <div class="flex flex-col items-center flex-1">
        <svg
          class="svg-icon icon-share"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="21"
          fill="none"
          viewBox="0 0 18 21"
        >
          <title>Share Icon</title>

          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M9.545.56L9 0l-.545.56-5.143 5.286 1.09 1.122L8.23 3.035V15.45H9.77V3.035l3.826 3.933 1.091-1.122L9.545.561zM0 11.75V21h18v-9.25h-1.543v7.664H1.543V11.75H0z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span  class="pt-2">Share this</span>
      </div>
    </div>

    <p class="text-sm pt-2 text-gray-700">
      {{ product.description }}
    </p>
  </div>
</div>
