// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('assets/fonts/BAHNSCHRIFT.TTF') format('truetype');
  font-weight: 300; /* Semilight */
  font-style: normal;
}

body {
  font-family: 'Bahnschrift', sans-serif;
}
