<!-- Top Offer Bar -->
<div class="w-full bg-green-900 text-white text-xs text-center py-2 px-4">
  Buy 2 get 5% off | Use code: OVER5 & Buy 3 get 10% off | Use code: OVER10
</div>

<header
  class="w-full border-b border-gray-200 bg-white px-6 py-3 lg:px-10 lg:py-4 flex items-center justify-between relative"
>
  <!-- Mobile Left Icons (Visible only on mobile) -->
  <div class="flex items-center gap-4 lg:hidden">
    <i
      class="fas fa-bars text-gray-500 text-lg cursor-pointer"
      (click)="toggleMenu()"
    ></i>
  </div>

  <!-- Center Logo -->
  <div class="text-center flex-1">
    <h1 class="text-2xl font-serif tracking-widest leading-none">Desi Naar</h1>
    <!-- <span class="text-xs tracking-[0.5em] font-light">VAISH</span> -->
  </div>

  <!-- Mobile Right Icons (only for mobile) -->
  <div class="flex items-center gap-4 text-gray-500 text-lg lg:hidden">
    <i class="fas fa-shopping-cart hover:text-black cursor-pointer"></i>
  </div>

  <!-- Full Nav for Larger Screens (Web Only) -->
  <div
    class="hidden lg:flex justify-between items-center absolute top-0 left-0 w-full px-10 py-4"
  >
    <!-- Left Menu Links -->
    <div class="flex items-center gap-8 flex-1 justify-start">
      <div class="relative group cursor-pointer">
        <span class="text-xs uppercase font-medium tracking-wide">New Arrival</span>
        <i class="fa-solid fa-caret-down text-xs ml-1"></i>
      </div>
      <div class="relative group cursor-pointer" >
        <span class="text-xs uppercase font-medium tracking-wide" (click)="productpage()"
          >Collection</span
        >
        <i class="fa-solid fa-caret-down text-xs ml-1"></i>
      </div>
      <div class="cursor-pointer">
        <span class="text-xs uppercase font-medium tracking-wide">Contact Us</span>
      </div>
    </div>

    <!-- Desktop Right Icons -->
    <div class="flex items-center gap-6 text-gray-500 text-lg">
      <i class="fas fa-shopping-cart hover:text-black cursor-pointer"></i>
    </div>
  </div>
</header>

<!-- Sidebar Backdrop -->
<div
  class="fixed inset-0 bg-black/40 z-40"
  *ngIf="menuOpen"
  (click)="toggleMenu()"
></div>

<!-- Sidebar Drawer -->
<aside
  class="fixed top-0 left-0 w-64 h-full bg-white shadow-lg z-50 transform transition-transform duration-300"
  [ngClass]="{
    '-translate-x-full': !menuOpen,
    'translate-x-0': menuOpen
  }"
>
  <div class="p-6 flex flex-col gap-6">
    <h2 class="text-lg font-bold text-gray-800">user</h2>
    <a  class="hover:text-green-700" (click)="openproduct()">All</a>
    <a href="#" class="hover:text-green-700" (click)="toggleMenu()"
      >New Arrival</a
    >
    <a href="#" class="hover:text-green-700" (click)="toggleMenu()"
      >Category</a
    >
    <a href="#" class="hover:text-green-700" (click)="toggleMenu()"
      >Collection</a
    >
    <a href="#" class="hover:text-green-700" (click)="toggleMenu()"
      >Contact Us</a
    >
  </div>
</aside>
